doctype html
html(lang="en", ng-app="<%= appName %>" ng-strict-di)
  head
    title <%= appTitle %>
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/app.css")
  body(ng-controller="<%= controllerName %> as vm", ng-cloak)
    block main-content
    include scripts