//Vendor Scripts
script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/sass-bootstrap/dist/js/bootstrap.js")
script(src="/vendor/toastr/toastr.js")
script(src="/vendor/lodash/dist/lodash.compat.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-ui-router/release/angular-ui-router.js")
script(src="/vendor/restangular/dist/restangular.js")
script(src="/vendor/moment/moment.js")

script(src="/views/test1/test1.js")
script(src="/views/test2/test2.js")
script(src="/<%= _.slugify(projectName) %>.tpls.js")

script(src="/app.js")