extends partials/layout
block main-content
  div.container
    div.row
      h1 {{ vm.appTitle }}
      div.btn-group
        a.btn.btn-primary(href="/test1") Test 1
        a.btn.btn-primary(href="/test2") Test 2
    div.row
      section.content

        div(ui-view)